{% extends "admin/base.html.twig" %}

{% block title %}
    {% if post != null %}
    Modification d'un article
    {% else %}
    Ajout d'un article
    {% endif %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/admin/form-grid.css">
{% endblock %}

{% block main %}

    <main class="form-grid">

        <!-- START NOTIFICATIONS -->
        {{ message.display }}
        <!-- END NOTIFICATIONS -->

        <!-- START FORM -->
        <form method="post" action="?c=adminBlog&t=edit{% if post != null %}&id={{ post.id }}{% endif %}" enctype="multipart/form-data" id="form-update">

            <div class="left">
                <!--TITLE -->
                <div class="form-group">
                    <label for="title">Titre *</label>
                    <input type="text" class="form-control" name="title" id="title" {% if post != null %}value="{{ post.title }}{% endif %}" required>
                </div>

                <!-- SUBTITLE -->
                <div class="form-group">
                    <label for="subtitle">Chapô *</label>
                    <textarea class="form-control" name="subtitle" id="subtitle" rows="2" required>{% if post != null %}{{ post.subtitle }}{% endif %}</textarea>
                </div>

                <!-- IMAGE -->
                <div class="form-group">
                    <label for="image">Image (1500x600 recommandé)</label>
                    <input type="file" class="form-control-file" name="image" id="image" {% if post != null %}value="{{ post.image }}{% endif %}">
                </div>

                <!-- PUBLISH -->
                <div class="form-check">
                    <input type="checkbox" name="active" class="form-check-input" id="active" {% if post != null and post.active == 1 %}checked="checked"{% endif %} value="1">
                    <label class="form-check-label" for="active">Mettre en ligne</label>
                </div>
            </div>

            <div class="right">

                <!-- CONTENT -->
                <div class="form-group d-flex">
                    <label for="content">Contenu *</label>
                    <textarea class="form-control article-content" name="content" id="content">{% if post != null %}{{ post.content }}{%endif %}</textarea>
                </div>
            </div>

        </form>

        <div class="d-flex justify-content-end submit-form">
            <button type="submit" form="form-update" class="btn btn-primary" name="{% if post != null %}edit{% else %}add{% endif %}" id="submit-btn">Envoyer</button>
        </div>
        <!-- END FORM -->

    </main>
{% endblock %}

{% block js %}
<!-- TinyMCE -->
<script src="assets/js/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/js/vendor/tinymce/tinymce_init.js"></script>
{% endblock %}