{% extends 'base-admin.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="assets/css/admin/list.css">
{% endblock %}

{% block main %}
    <div class="d-sm-flex justify-content-between align-items-center mb-5">
        <h4 class="header-title mb-0">Liste des commentaires non vérifiés</h4>
    </div>
    <div>

        <!-- Notifications -->
        {{ message.display }}
        <!-- Table comments -->
        <table id="list-posts" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Article</th>
                <th>Utilisateur</th>
                <th>Commentaire</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.title }}</td>
                    <td>{{ comment.name }}</td>
                    <td>{{ comment.content }}</td>
                    <td>
                        <form method="post" action="?c=adminComments&t=verified" class="delete-form">
                            <input type="hidden" name="commentId" value="{{ comment.id }}">
                            <button type="submit" class="btn btn-success" onclick="return confirm('Confirmer la vérification ?');"><i class="fa fa-check-circle"></i></button>
                        </form>
                        <form method="post" action="?c=adminComments&t=delete" class="delete-form">
                            <input type="hidden" name="commentId" value="{{ comment.id }}">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmer la suppression ?');"><i class="fa fa-trash-o"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script src="assets/js/vendor/dataTables.js"></script>
{% endblock %}