<div class="d-sm-flex justify-content-between align-items-center mb-5">
    <h4 class="header-title mb-0">Gestion des utilisateurs</h4>
</div>

<div>

    <!-- List of users -->
    <table id="list-posts" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.role == 1 %}<strong class="text-primary">Admin</strong>{% else %}Utilisateur{% endif %}</td>
                <td>
                    <form method="post" action="?c=adminDashboard&t=updateUser" class="update-user d-inline-block">
                        {% if user.role == 1 %}
                            <input type="hidden" name="userDown" value="{{ user.id }}">
                            <button type="submit"
                                    class="btn btn-secondary"
                                    onclick="return confirm('Descendre au rang d\'utilisateur ?');"
                                    title="Downgrade">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                        {% else %}
                            <input type="hidden" name="userUp" value="{{ user.id }}">
                            <button type="submit"
                                    class="btn btn-primary"
                                    onclick="return confirm('Monter au rang d\'administrateur ?');"
                                    title="Upgrade">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        {% endif %}
                    </form>
                    <form method="post" action="?c=adminDashboard&t=removeUser" class="remove-user d-inline-block">
                        <input type="hidden" name="remove" value="{{ user.id }}">
                        <button type="submit"
                                class="btn btn-danger"
                                onclick="return confirm('Supprimer l\'utilisateur ?');"
                                title="Supprimer">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>