{% extends "base-admin.html.twig" %}

{% block title %}
    {% if post != null %}
    Modification d'un article
    {% else %}
    Ajout d'un article
    {% endif %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/admin/form-grid.css">
{% endblock %}

{% block main %}

    <main class="form-grid">

        <!-- START NOTIFICATIONS -->
        {% include "components/notifications.html.twig" %}
        <!-- END NOTIFICATIONS -->

        <!-- START FORM -->
        <form method="post" action="?c=adminBlog&t=edit{% if post != null %}&id={{ post.id }}{% endif %}" enctype="multipart/form-data" id="form-update">

            <div class="left">
                <!--TITLE -->
                <div class="form-group">
                    <label for="formGroupExampleInput">Titre</label>
                    <input type="text" class="form-control" name="title" id="formGroupExampleInput" {% if post != null %}value="{{ post.title }}{% endif %}">
                </div>

                <!-- SUBTITLE -->
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Chapô</label>
                    <textarea class="form-control" name="subtitle" id="exampleFormControlTextarea1" rows="2">{% if post != null %}{{ post.subtitle }}{% endif %}</textarea>
                </div>

                <!-- IMAGE -->
                <div class="form-group">
                    <label for="exampleFormControlFile1">Image (1500x600 recommandé)</label>
                    <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1" {% if post != null %}value="{{ post.image }}{% endif %}">
                </div>

                <!-- PUBLISH -->
                <div class="form-check">
                    <input type="checkbox" name="active" class="form-check-input" id="exampleCheck1" {% if post != null and post.active == 1 %}checked="checked"{% endif %} value="1">
                    <label class="form-check-label" for="exampleCheck1">Mettre en ligne</label>
                </div>
            </div>

            <div class="right">

                <!-- CONTENT -->
                <div class="form-group d-flex">
                    <label for="exampleFormControlTextarea1">Contenu</label>
                    <textarea class="form-control article-content" name="content" id="exampleFormControlTextarea1">{% if post != null %}{{ post.content }}{%endif %}</textarea>
                </div>
            </div>

        </form>

        <div class="d-flex justify-content-end submit-form">
            <button type="submit" form="form-update" class="btn btn-primary" name="{% if post != null %}edit{% else %}add{% endif %}">Envoyer</button>
        </div>
        <!-- END FORM -->

    </main>
{% endblock %}

{% block js %}
<!-- TinyMCE -->
<script src="assets/js/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/js/vendor/tinymce/tinymce_init.js"></script>
{% endblock %}