{% extends "base-front.html.twig" %}

{# Custom stylesheet #}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/app.css">
{% endblock %}

{# Main content #}
{% block main %}
    <!-- Page Content -->
    <main id="blog-page">
        <div class="container">

            <div class="row">

                <!-- Blog Entries Column -->
                <div class="col-md-8">

                    <h1 class="my-4">Bienvenue
                        <small>sur mon blog</small>
                    </h1>

                    {% if posts != null %}

                    {% for post in posts %}
                    {% if post.active %}
                    <!-- Blog Post -->
                    <div class="card mb-4">
                        {% if post.image %}
                            <img class="card-img-top" src="assets/img/uploads/{{ post.image }}" alt="Image de l'article">
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.subtitle }}</p>
                            <a href="?c=blog&t=post&id={{ post.id }}" class="btn btn-primary see-more">Voir plus <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="card-footer text-muted">
                            {% if post.date_update != null %}
                            Modifié le {{ post.date_update|date("d / m / Y") }}
                            {% else %}
                            Posté le {{ post.date_add|date("d / m / Y") }}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <!-- Pagination -->
                    <ul class="pagination justify-content-center mb-4">
                        <li class="page-item {% if _get.page == null or _get.page == 1 %}disabled{% endif %}">
                            <a class="page-link" href="?c=blog&page={{ _get.page - 1 }}">Previous</a>
                        </li>

                        {% for i in 1..numberOfPages %}
                            <li class="page-item {% if _get.page == i %}active{% endif %}">
                                <a class="page-link" href="?c=blog&page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        <li class="page-item {% if _get.page == numberOfPages %}disabled{% endif %}">
                            <a class="page-link" href="?c=blog&page={% if _get.page == null %}2{% else %}{{ _get.page + 1 }}{% endif %}">Next</a>
                        </li>
                    </ul>

                    {% else %}
                    <!-- No blog posts -->
                    <h2>Aucun article n'a été posté pour le moment</h2>
                    {% endif %}

                </div>

                <!-- Sidenav -->
                {% include 'components/sidenav.html.twig' %}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </main>
{% endblock %}