{% extends "base-front.html.twig" %}

{# Custom stylesheet #}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/app.css">
{% endblock %}

{# Main content #}
{% block main %}

    <!-- Page Content -->
    <main id="blog-page">
        <div class="container">

            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-12">

                    <!-- Title -->
                    <h1 class="mt-4">{{ post.title }}</h1>

                    <!-- Author -->
                    <p class="lead">
                        par
                        <a href="#">TODO : post.author</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p>{% if post.date_update != null %}Modifié le {{ post.date_update|date("d/m/Y") }}{% else %}Posté le {{ post.date_add|date("d/m/Y") }}{% endif %}</p>

                    <hr>

                    <!-- Image -->
                    {% if post.image %}
                        <img class="img-fluid rounded" src="assets/img/uploads/{{ post.image }}" alt="Image de l'article">

                        <hr>
                    {% endif %}

                    <!-- Post Content -->
                    {{ post.content|raw }}

                    {% if session.user != null or session.admin != null %}
                        <hr>

                        <div id="comments-notification">
                            {{ message.display }}
                        </div>

                        <!-- Comment Form -->
                        <div class="card my-4">
                            <h5 class="card-header">Ajouter un commentaire:</h5>
                            <div class="card-body">
                                <form method="post" action="?c=blog&t=post&id={{ post.id }}">
                                    <input type="hidden" name="id_user" value="{% if session.admin %}{{ session.admin.id }}{% elseif session.user %}{{ session.user.id }}{% endif %}">
                                    <div class="form-group">
                                        <textarea class="form-control" name="content" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    {% if comments != null %}
                        {% for comment in comments %}
                            <!-- Single Comment -->
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ comment.name }}</h5>
                                    {{ comment.content }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </main>

{% endblock %}